<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <property name="charset" value="UTF-8"/>
    <!-- log output to console -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%highlight([%-5p]) %red(%d{yyyy-MM-dd HH:mm:ss}) %green([%thread]) %n %cyan(%logger) -
                %black(%msg%n)
            </pattern>
            <charset>${charset}</charset>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>